[flake8]
max-complexity = 10
max-line-length = 127
ignore=
    # whitespace after '[', '('
    E201, 
    # whitespace before ')', ']'
    E202, 
    # missing whitespace after ','
    E231,
    # expected 2 blank lines, found 1
    E302, 
    # trailing whitespace
    W291, 
    # no newline at end of file
    W292,
    # line break before binary operator
    W503
