[MESSAGES CONTROL]

disable=
    C0305, # trailing newlines
    C0111, # docstrings for defs and classes
    C0103, # constant UPPERCASE style convention
    C0303, # trailing whitespace
    R0903, # too few public methods
    R0913, # Too many arguments
    R0914, # Too many local vars
    R0901, # too many ancestors (max 7)

[CLASSES]
# pylint complains when you access 'protected' attributes (anything that starts with _), here are exceptions we support
exclude-protected=
    _meta, # even django docs encourage accessing _meta

[TYPECHECK]
generated-members=
    objects,
    _meta,
    id,
    [a-zA-Z]+_set,
    through,



ignored-argument-names=arg|args|kwargs|_*

# note: for full list of configurable features, see http://pylint.pycqa.org/en/stable/technical_reference/features.html