# OPTIONAL packages used by consumers
Jinja2==3.1.4
openpyxl==3.1.2
requests==2.32.3
opencensus-ext-azure==1.1.9

# testing, linting, etc.
pylint==2.17.5
pytest==8.3.1
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-timeout===2.2.0
responses===0.23.3
testfixtures===7.2.0
flake8==6.1.0
factory-boy===3.3.0
coverage==7.1.0


# publishing
twine==4.0.2
