# OPTIONAL packages used by consumers
Jinja2==3.1.2
openpyxl==3.0.10

# TODO django-structlog might need to be required and go in setup.cfg, requests 
# might be optional as only the slack webhook/JSON post log handlers use it?
# Or maybe both stay optional and we use the excel util approach of checking for them
# and throwing if they aren't found?
requests==2.31.0
django-structlog==5.3.0

# testing, linting, etc.
pylint==2.17.5
pytest==7.4.0
pytest-cov==4.0.0
pytest-django===4.5.2
responses===0.22.0
testfixtures===7.1.0
flake8==6.0.0
factory-boy===3.2.1

# publishing
twine==4.0.2