# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-django: [  ["3.11", "5.1"], ["3.11", "5.2"], ["3.13", "6.0"] ]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-django[0] }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-django[0] }}
    - name: Configure locales
      run: |
        sudo locale-gen en_CA.UTF-8 fr_CA.UTF-8
    - name: Install dependencies
      run: |
        python -m pip install -U pip setuptools wheel
        python -m pip install -r requirements.txt "Django==${{ matrix.python-django[1] }}"
        python -m pip install .
    - name: Test
      run: |
        pytest --cov=phac_aspc
    - name: Build coverage file
      if: ${{ github.actor != 'dependabot[bot]' && matrix.python-django[0] == '3.13' && matrix.python-django[1] == '6.0' }}
      run: |
         pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=phac_aspc | tee pytest-coverage.txt
    - name: Pytest coverage comment
      if: ${{ github.actor != 'dependabot[bot]' && matrix.python-django[0] == '3.13' && matrix.python-django[1] == '6.0' }}
      uses: MishaKav/pytest-coverage-comment@main
      with:
        pytest-coverage-path: ./pytest-coverage.txt
        junitxml-path: ./pytest.xml

  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    
    steps:
    - uses: actions/checkout@v3
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install -r requirements_formatting.txt
    - name: Check formatting
      run: |
        black . --check --config pyproject.toml
    - name: Check imports sorted
      run: |
        isort . --check --settings-path pyproject.toml

        

